body {
  display: block;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 1em;
  word-spacing: 5px;
  background-color: rgb(192, 218, 243);
}

button {
  border: none;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.603);
  color: rgb(0, 0, 0);
  text-align: center;
  margin-left: 70px;
  margin-top: 10px;
  max-width: 300px;
  width: 100%;
  letter-spacing: 3px;
}
p {
  margin: 50px 0px 0px 35px;
  color: rgb(255, 5, 105);
  max-width: 400px;
  width: 100%;
}
